.form-fields > li > * { display: block; }

label[for="submit"],
.password-input label {
  position: absolute;
  left: -100000px;
}

a.button {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  border: 1px solid #666;
  padding: 4px;
  border-radius: 5px;
  background-color: #DDD;
}

.password-input {
  display: flex;
}
.password-input {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 3px;
}
.password-input input {
  border: 0;
  flex: 1 0 auto;
}
.password-input input:focus {
  outline: 0;
  background: #DDD;
}
